<% content_for(:title, "List | To Do")%>

<p><%= @list.name%></p>

<%= link_to "Edit", edit_list_path(@list)%>
<%= link_to "Delete", list_path(@list),
	data: {confirm: "You sure?"},
	method: :delete%>

<hr>

<%if @list.tasks.any?%>
	<h3>Tasks</h3>
	<ul>
		<% @list.tasks.each do |task|%>
			<li><%= task.description%> | 
			<%= link_to "Edit", edit_list_task_path(@list, task) %> |
			<%= link_to "Delete", list_task_path(@list, task),
				data: {confirm: "Are you sure?"},
				method: :delete %></li>
		<%end%>
	</ul>
<%else%>
	<h4>No tasks for this list</h4>
<%end%>

<p>
	<%= link_to "Add a Task", new_list_task_path(@list)%>
</p>

<p>
	<%= link_to "Return to Lists", lists_path%>
</p>